<ion-header>
  <ion-navbar>
    <ion-title>Accueil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2 class="center" [ngClass]="{'center-block ': !selectedCity, 'center': selectedCity}">Bienvenue sur l'application météo</h2>
  <p class="center">
    <span *ngIf="loading">récupération de vos donnée GPS en cours</span>
    <button *ngIf="selectedCity&&currentWeather" ion-button outline (click)="getPosition(true)">Rafraichir</button>
  </p>
  <br>
  <div *ngIf="selectedCity">
    <ion-title class="center">
      Météo à votre position :
    </ion-title>
    <ion-title class="center">
      {{selectedCity.LocalizedName}}
    </ion-title>
    <br>
    <ion-list class="noP" *ngIf="currentWeather">
      <ion-card *ngFor="let item of currentWeather.DailyForecasts;">
        <ion-card-header>
          <ion-card-title class="center">Météo du {{item.Date}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <h2 class="center">Jour</h2>
                <p class="center"><img src="https://www.accuweather.com/images/weathericons/{{item.Day.Icon}}.svg"
                    alt="{{item.Day.IconPhrase}}"></p>
                <p class="center"><span class="Max">{{item.Temperature.Maximum.Value}}
                    °{{item.Temperature.Maximum.Unit}}</span> /
                  <span>{{item.Temperature.Minimum.Value}}
                    °{{item.Temperature.Minimum.Unit}}</span></p>
                <p class="center">{{item.Day.IconPhrase}}</p>
                <p *ngIf="item.Day.HasPrecipitation" class="center">Précipitation annoncé</p>
                <p *ngIf="!item.Day.HasPrecipitation" class="center">Pas de précipitation annoncé</p>
              </ion-col>
              <ion-col col-6>
                <h2 class="center">Nuit</h2>
                <p class="center"><img src="https://www.accuweather.com/images/weathericons/{{item.Night.Icon}}.svg"
                    alt="{{item.Night.IconPhrase}}"></p>
                <p class="center"><span class="Max">{{item.Temperature.Maximum.Value}}
                    °{{item.Temperature.Maximum.Unit}}</span> /
                  <span>{{item.Temperature.Minimum.Value}}
                    °{{item.Temperature.Minimum.Unit}}</span></p>
                <p class="center">{{item.Night.IconPhrase}}</p>
                <p *ngIf="item.Night.HasPrecipitation" class="center">Précipitation annoncé</p>
                <p *ngIf="!item.Night.HasPrecipitation" class="center">Pas de précipitation annoncé</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
</ion-content>